@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}


.animate-zoom-to-lens {
  animation: zoomToLens 3s ease-in-out forwards;
}

@keyframes zoomToLens {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: scale(4) translate(-20%, -20%);
    opacity: 0.8;
  }
}

.animate-content-reveal {
  animation: contentReveal 1s ease-in-out;
}

@keyframes contentReveal {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}